<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEqoA0QvjkTr50rDQjDmoJ3uYfQlGCY1M</string>
	<key>GCM_SENDER_ID</key>
	<string>860226422991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-cd887</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-cd887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860226422991:ios:84a1c1375c4271e583cfba</string>
</dict>
</plist>